@tailwind base;

@layer base {
  .list {
    scroll-behavior: smooth;
  }

  .content a {
    @apply text-nord10;
  }

  .content a:hover {
    @apply text-nord9 underline;
  }

  h1 {
    @apply font-bold text-title;
  }

  article h1 {
    @apply text-subtitle;
  }

  article h2 {
    @apply text-2xl;
  }

  article h3 {
    @apply text-xl;
  }

  article h4,
  h5,
  h6 {
    @apply text-lg;
  }

  article img {
    @apply my-4 w-full;
  }

  article p {
    @apply my-4;
  }

  article ul {
    @apply list-disc list-outside ml-8;
  }
}

@tailwind components;

@tailwind utilities;

[data-theme="dark"] {
  --color-background: #2e3440;
  --color-background-alt: #272c36;
  --color-background-dark: #434c5e;
  --color-secondary: #e5e9f0;
  --color-primary: #d8dee9;
  --color-black: #3b4252;
  --color-red: #bf616a;
  --color-green: #a3be8c;
  --color-yellow: #ebcb8b;
  --color-blue: #81a1c1;
  --color-magenta: #b48ead;
  --color-cyan: #88c0d0;
  --color-white: #e5e9f0;
}

:root {
  --color-background: #e5e9f0;
  --color-background-alt: #d8dee9;
  --color-background-dark: #b8c5db;
  --color-primary: #3b4252;
  --color-secondary: #2e3440;
  --color-black: #3b4252;
  --color-red: #99324b;
  --color-green: #4f894c;
  --color-yellow: #9a7500;
  --color-blue: #3b6ea8;
  --color-magenta: #97365b;
  --color-cyan: #398eac;
  --color-white: #485163;
}

.btn {
  @apply bg-nord10 rounded-md text-nord6 flex justify-center items-center h-10;
}

.btn:hover {
  @apply text-nord4 bg-nord9 cursor-pointer;
}

.text-input {
  @apply p-2 h-10 border-nord3 border-2 bg-transparent rounded-md;
}

.text-input:focus {
  @apply outline-none border-nord10;
}
